.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh; 
}

.signup_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  width: 450px;
  gap: 1.4rem;
}

.signup_card h2 {
  font-size: 35px;
  font-weight: 800;
}

.signup_card h3 {
  font-size: 25px;
}

.signup_card h5 {
  font-family:cursive;
  font-size: 15px;
}

.form_signup {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.email_signup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email_p {
  font-size: large;
}

.email_auth {
  font-weight: 600;
  font-size: 1.1rem;
}

.signup_password {
  width: 97%;
  height: 50px;
  padding: 5px;
}

.button {
  color: #fff;
  background-color: #f31919;
  padding: 10px 20px;
  border: none;
  width: 100%;
  height: 45px;
}
