.homeInfo {
  min-height: 100vh;
  width: 100%;
  background: #000000;
  padding: 2em;
}

.home_enjoy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: auto;
  padding: 3.4rem 0;
}

.title_enjoy {
  font-size: 2em;
  color: #fff;
  margin-bottom: .6em;
}

.p_enjoy {
  font-size: 1.3em;
  color: #fff;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.multi_enjoy {
  position: relative;
}

.img_enjoy {
  width: 24em;
  z-index: 1;
  background: #000;
}

.monitor_enjoy {
  position: absolute;
  top: 44px;
  left: 30px;
  width: 325px;
  height: 200px;
  z-index: 3;
}

.monitor_enjoy video {
  height: 189px;
  width: 17.3em;
}

/* DDOWN */

.home_down {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.4rem 0;
  height: 75vh;
}

.title_down {
  font-size: 2em;
  color: #fff;
  margin-bottom: .6em;
}

.p_down {
  font-size: 1.3em;
  color: #fff;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.multi_down {
  position: relative;
}

.down_img {
  width: 24em;
}

.down_card-multi {
  display: flex;
  width: 70%;
  height: 60px;
  left: 15%;
  bottom: 10%;
  background-color: #000;
  position: absolute;
  border-radius: 15px;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgba(128, 128, 128, 0.7);
}

.down_card-img img {
  width: 36px;
  padding: 2px;
}

.down_card-text h5 {
  color: #fff;
}

.down_card-text p {
  color: #233ed8;
}

.down_card-gif {
  background-image: url('https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif');  
background-repeat: no-repeat;
background-size: 100%;
height: 48px;
outline-color: rgb(0, 0, 0);
text-align: center;
width: 48px;
}

/* WATCH */

.home_watch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  min-height: 100vh;
}

.title_watch {
  font-size: 2em;
  color: #fff;
  margin-bottom: .6em;
}

.p_watch {
  font-size: 1.3em;
  color: #fff;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.multi_watch {
  position: relative;
}

.watch_img {
  width: 24em;
  position: absolute;
  left: -70px;
  top: 20px;
}

.monitor_watch {
  padding-top: 2rem;
}

.monitor_watch video {
  width: 15em;
  height: 175px;
}

/* KIDS */

.home_kids {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
height: 100%;
min-height: 80vh;
}

.title_kids {
font-size: 2em;
color: #fff;
margin-bottom: .6em;
}

.p_kids {
font-size: 1.3em;
color: #fff;
font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.kids_img {
  margin-top: 45px;
  width: 24em;
}

/* PREGUNTAS */

.home_preguntas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.preguntas_title {
  color: #fff;
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

details {
  background-color: rgb(45,45,45);
  padding: 1em;
  letter-spacing: .2px;
}

summary {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;

}

details p {
  color: #fff;
  font-weight: 400;
  height: auto;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}
