.prox_title {
  color: #eee;
  padding: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.prox_content > img {
  display: block;
  max-width: 9em;
  object-fit: contain;

  padding: 1px;
  
  transition: transform 0.3s ease;
}

.prox_img:hover {
  transform: scale(1.05);
}

@media (max-width: 450px) {
  .prox_content > img {
    max-width: 7.3em;
  }
}

@media (max-width: 370px) {
  .prox_content > img {
    max-width: 6.7em;
  }
}