.sections_title {
  color: #eee;
  padding: 10px 0;
  font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
}

.sections_content > img {
  display: block;
  max-width: 9em;
  object-fit: contain;

  padding: 1px;
  
  transition: transform 0.3s ease;
}

.sections_img:hover {
  transform: scale(1.05);
}

@media (max-width: 450px) {
  .sections_content > img {
    max-width: 7.3em;
  }
}

@media (max-width: 370px) {
  .sections_content > img {
    max-width: 6.7em;
  }
}